html, body {
  margin: 0;
  padding: 0;
  font-family: 'Libre Baskerville', Georgia, serif;
}

.wrapper {
  max-width: 40rem;
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 3rem;
  color:cornflowerblue;
}

.imageWrapper {
  width: 100%;
}

img {
  display: block;
  margin: auto;
  width: 20rem;
  max-width: 100%;
}

.inlineFormula .katex {
  line-height: 2;
}

.p5sketch {
  position: relative;
}

canvas {
  display: block;
}
